@charset "utf-8";

/* ユニバーサルセレクタ：全称セレクタ */
*
{
  margin: 0;
  padding: 0;
}

/* 要素セレクタ：タイプセレクタ */
body
{
  color: #fff;
  background-color: #131218;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html , body
{
  height: 100%;
}

header
{
  height: 100%;
  background-image: url(../images/macbook03.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 100%;
  text-shadow: 0px 0px 10px #000;
}

  header span
  {
    display: block;
    width: 100%;
    text-align: center;
    color: #63636e;
    font-size: 1.3rem;
    padding-top: 10px;
    font-weight: bold;
  }

  header h1
  {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }

  #header-contentbox
  {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
  }
  
    .header-content
    {
      font-weight: bold;
      width: 40%;
      display: inline-block;
      margin: 80px 0 0 50px;
      padding: 10px 0 0 5px;
      border-top: 2px solid #aaa;
      font-size: 1.3rem;
    }

.default-para
{
  box-sizing: border-box;
  height: 110%;
}


.div-01
{
  /* background: url(../images/image01.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 400px 50%;
  background-attachment: fixed;
  position: relative;
}

article
{
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*background-color: #fff;*/
}

  article #graphic-box
  {
    padding-top: 15%;
  }

    article #graphic-box span
    {
      display: block;
      width: 100%;
      color: #63636e;
      font-size: 1.3rem;
      padding-top: 10px;
      font-weight: bold;
    }

    article #graphic-box h1
    {
      font-weight: bold;
      font-size: 1.9rem;
    }

    article #graphic-box #graphic-section
    {
      padding-top:10px;
      color: #63636e;
      font-weight: bold;
    }


.div-02
{
  background: url(../images/macbook06.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100%;
  background-attachment: fixed;
}

  #model-box
  {
    /* background:rgba(10, 10, 10, 0.5); */
    width: 70%;
    height: 50%;
    margin: auto;
    padding-top: 300px;
  }

  #model-box .model-section
  {
    font-weight: bold;
    color: #63636e;
    width: 20%;
    display: inline-block;
    padding: 30px 0 0 80px;
  }

  #model-box .right
  {
    margin-left: 300px;
  }

  #model-box .model-section p
  {
    color: #fff;
    font-size: 1.2rem;
  }

.div-03
{
  background: url(../images/macbook00.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-attachment: fixed;
  position: relative;
}

 #perform-box
 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: #63636e;
    margin-top: 150px;
 }

  #perform-box h1
  {
    font-size: 2.5rem;
    color: #fff;
  }

  #perform-box span
  {
    font-size: 1.2rem;
  }

  #perform-box ul
  {
    list-style: none;
    margin-top: 20px;
  }

  #perform-box ul li
  {
    display: inline-block;
    margin-left: 15px;
  }

  #perform-box ul li h2
  {
    color: #fff;
    font-size: 2rem;
  }

footer
{
  width: 100%;
  padding: 8px;
  background-color: #131218;
  color: #63636e;
  text-align: center;
  box-sizing: border-box;
}
