@charset "utf-8";

/* ユニバーサルセレクタ：全称セレクタ */
*
{
  margin: 0;
  padding: 0;
}

/* 要素セレクタ：タイプセレクタ */
body
{
  color: #fff;
  background-color: #131218;
}

html , body
{
  height: 100%;
}

header
{
  height: 100%;
  background-image: url(../images/macbook03.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 100%;
}

  header div
  {
    width: 100%;
    text-align: center;
    color: #63636e;
    font-size: 1.3rem;
    padding-top: 175px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
  }

  header h1
  {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    /* テキストシャドウ */
    text-shadow: 0px 0px 10px #000;
  }

article
{
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  /*background-color: #fff;*/
}


.default-para
{
  box-sizing: border-box;
  height: 100%;
}

.div-01
{
  background: url(../images/test.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-attachment: fixed;
}

.div-01 img
{
  height: 80%;
}
.div-02
{
  background: url(../images/macbook05.jpg);
  background-size: cover;
  background-position: 0 50%;
  /*background-attachment: fixed;*/
}
footer
{
  width: 100%;
  padding: 8px;
  background-color: #000;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
